---
---
<div id="journey-lightbox" onclick="closeLightbox()">
    <button id="lightbox-close" onclick="closeLightbox()" aria-label="Close">&times;</button>
    <img id="lightbox-img" src="" alt="" onclick="event.stopPropagation()">
</div>
